In [9]:
import matplotlib
import xlrd
import pandas as pd

data = pd.read_excel("../data/EsportCorrected.xlsx")
data

,Game,ReleaseDate,Genre,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments
0,Age of Empires,1997,Strategy,190075.61,33235.72,246,95
1,Age of Empires II,1999,Strategy,1480089.01,862909.14,827,549
2,Age of Empires III,2005,Strategy,66463.85,24963.85,86,72
3,Age of Empires Online,2011,Strategy,2668.00,2668.00,16,7
4,Age of Mythology,2002,Strategy,52360.00,360.00,22,6
...,...,...,...,...,...,...,...
487,Gears of War,2006,Third-Person Shooter,252195.57,0.00,33,18
488,Gears of War 2,2008,Third-Person Shooter,135000.00,0.00,0,5
489,Gears of War 3,2011,Third-Person Shooter,7255.81,2700.00,13,4
490,Gears of War 4,2016,Third-Person Shooter,3087285.00,32285.00,135,41
491,Gears of War: Ultimate Edition,2015,Third-Person Shooter,170000.00,0.00,39,3